<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{182,190}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{375,163},{182,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{184,188}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{193,347},{184,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{182,182}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{567,163},{182,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{180,174}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1083,1},{180,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-3}</string>
                <key>spriteSize</key>
                <string>{180,160}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{525,1},{180,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{184,148}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{184,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,6}</string>
                <key>spriteSize</key>
                <string>{190,160}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{707,1},{190,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,9}</string>
                <key>spriteSize</key>
                <string>{196,174}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1265,1},{196,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,10}</string>
                <key>spriteSize</key>
                <string>{206,186}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1591,365},{206,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,9}</string>
                <key>spriteSize</key>
                <string>{210,192}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1389,553},{210,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,8}</string>
                <key>spriteSize</key>
                <string>{212,186}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1799,365},{212,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{204,178}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1665,1},{204,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{190,180}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{183,161},{190,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{184,192}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{383,347},{184,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{190,206}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{771,547},{190,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,4}</string>
                <key>spriteSize</key>
                <string>{192,212}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1601,553},{192,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,7}</string>
                <key>spriteSize</key>
                <string>{190,206}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{979,547},{190,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,10}</string>
                <key>spriteSize</key>
                <string>{190,192}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{385,533},{190,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{200,184}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{577,357},{200,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{192,188}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{191,533},{192,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{192,188}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{577,543},{192,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{196,184}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{779,361},{196,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,6}</string>
                <key>spriteSize</key>
                <string>{188,188}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,527},{188,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,9}</string>
                <key>spriteSize</key>
                <string>{210,192}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1815,553},{210,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,6}</string>
                <key>spriteSize</key>
                <string>{190,200}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1187,547},{190,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{174,200}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1463,1},{174,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{182,192}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{751,173},{182,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{180,178}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,151},{180,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{158,160}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{187,1},{158,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,7}</string>
                <key>spriteSize</key>
                <string>{174,158}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{349,1},{174,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,11}</string>
                <key>spriteSize</key>
                <string>{182,170}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{899,1},{182,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{182,186}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{945,177},{182,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,8}</string>
                <key>spriteSize</key>
                <string>{184,200}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{977,361},{184,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,6}</string>
                <key>spriteSize</key>
                <string>{184,208}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1179,361},{184,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{182,208}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1133,177},{182,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{182,206}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1343,177},{182,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{184,200}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1389,365},{184,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{182,196}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1551,181},{182,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{182,190}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1749,181},{182,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{182,190}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,343},{182,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dice.png</string>
            <key>size</key>
            <string>{2026,746}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a07b1b9c66f540c3d8b2e5202d018d71:3c5b6533b4bf6e1448c463ebce958747:544c64e63d0b9630b74f34aa38307e54$</string>
            <key>textureFileName</key>
            <string>dice.png</string>
        </dict>
    </dict>
</plist>
